[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

cython = "==0.24"
docutils = "*"
kivy = "*"
"kivy-garden" = "*"
"kivy.deps.sdl2" = "*"
"kivy.deps.glew" = "*"
numpy = "*"
pygments = "*"
pypiwin32 = "*"
requests = "*"


[dev-packages]
